.top_content{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form_search{
    width: 95%;
    position: relative;
}

#search{
    width: 100%;
    border: 2px solid rgb(49, 49, 49);
    font-size: 24px;
    padding: 0px 10px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(81, 147, 179, 0.35);
    outline: none;
}

#search::placeholder{
    opacity: .5;
}

.btn_search{
    position: absolute;
    right: 5px;
    top: 8px;
    border: none;
    background: none;
    cursor: pointer;
}

.btn_search>img{
    width: 24px;
}

.layout{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.layout>label>img{
    opacity: 0.5;
    width: 30px;
}

#layout_box,#layout_list{
    display: none;
}

.layout_box>img{
    width: 36px !important;
    margin-right: 10px;
    cursor: pointer;
}

.layout_list{
    cursor: pointer;
}

#layout_box:checked ~ .layout_box img{
    opacity: 1;
}

#layout_list:checked ~ .layout_list img{
    opacity: 1;
}

.show_chicken{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.coop{
    font-size: 18px;
}

.select_show{
    display: flex;
}

#coop,#datePicker,#filter,#sex{
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(49, 49, 49);
    box-shadow: 2px 4px 4px rgba(81, 147, 179, 0.35);
    margin-left: 10px;
}

.img_chicken{
    display: block;
    margin: 0 auto;
    width: 90px;
}

.chicken_box{
    width: 100%;
    max-height: 50vh;
    min-height: 261px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 35px;
    justify-content: left;
    overflow-y: auto;
    overflow-X: hidden;
    padding: 10px 10px 10px 5px;
}

.chicken_box.list{
    display: block;
    padding: 10px 10px 10px 0;
}

.chicken_box.list .img_chicken{
    display: none;
}

.chicken_box.list .line{
    display: none;
}

.chicken_box.list .format{
    margin: 0 20px;
}

.chicken_box.list .on{
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 18px;
    left: 10px;
    top: 20%;
}

.numder{
    margin-left: 10px;
}

.chbox{
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border: 2px solid #EE5151;
}

.chbox::before{
    display: block;
    content:"✓";
    text-align: center;
    margin-top: 5px;
    color:#EE5151;
    opacity: 0;
    font-size: 18px;
    font-weight:600;
    transform:scale(0.5);
    transition:all .2s ease-in-out;
}

.chicken_box.list label{
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 65px;
}

.checkbox{
    width: initial;
    display: flex;
}

.chicken_box input[type='checkbox']{
    display: none;
}

.chicken_box input[type='checkbox']{
    display: none;
}

.chicken_box input[type='checkbox']:checked + label{
    outline: 3px solid #EE5151;
}

.chicken_box input[type='checkbox']:checked + label:before {
    opacity:1;
    transform:scale(1);
}

.chicken_box.list input[type='checkbox']:checked + label{
    outline: none;
}

.chicken_box.list input[type='checkbox']:checked + label .chbox::before {
    opacity:1;
    transform:scale(1);
}


.chicken_box label{
    display: block;
    background-color: rgb(250, 250, 250);
    padding: 1.2rem;
    font-size: 16px;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    user-select: none;
    position:relative;
}

.chicken_box.list label::before{
    display: none;
}

.chicken_box label::before {
    content:"✓";
    position:absolute;
    width:18px;
    height:18px;
    top: -10px;
    right: -10px;
    border-radius: 45px;
    border: 3px solid #EE5151;
    color:#EE5151;
    background-color: white;
    text-align:center;
    line-height:18px;
    font-size:16px;
    font-weight:600;
    opacity:0;
    transform:scale(0.5);
    transition:all .2s ease-in-out;
}

.chicken_box>label>img{
    display: block;
    margin: 0 auto;
    pointer-events: none;
}

.format{
    font-size: 14px;
}

.on{
    display: none;
}

.format>samp{
    font-weight: 900;
    margin-right: 5px;
}

.btn_event{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 15px;
}

.type-box>label{
    cursor: pointer;
}

.btn_event>button{
    font-size: 18px;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    min-width: 90px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.btn_submit{
    background-color: #10C00D;
}

.btn_reset{
    background-color: #3C82D4;
}

.btn_submit:hover{
    background-color: #0c9c09;
}

.btn_reset:hover{
    background-color: #2c619e;
}

@media (max-width: 1249px) {
    .chicken_box{
        gap:15px 10px;
        
    }

    .chicken_box>label{
        width: 28%;
        min-width: 165px;
        padding: 0.8rem;
    }
}

@media (max-width: 628px) {
    .chicken_box.list .on{
        top: 30%;
    }
    .type_chicken{
        width: 100%;
        padding: 5px;
    }
}

@media (max-width: 520px) {

    .chicken_box{
        gap:15px 10px;
        width: 97%;
    }
    .coop{
        white-space: wrap;
    }

    .select_show{
        display: block;
        text-align: right;
    }

    #coop,#datePicker{
        font-size: 16px;
        margin-bottom: 5px;
    }

    .chicken_box>label{
        width: 30%;
    }

    .chicken_box.list .on{
        top: 25%;
    }
}

@media (max-width: 520px) {
    .chicken_box.list .on{
        top: 30%;
    }
}

@media (max-width: 373px) {
    .chicken_box.list .on{
        top: 35%;
    }
    .btn_event{
        gap: 10px;
    }
}